<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="../static/css/css2.css" rel="stylesheet">

    <title>Space Dynamic - SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="../static/css/animated.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="" class="logo">
              <h4>豆瓣电影<span>TOP</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/index" > <h5>首页</h5> </a></li>
              <li class="scroll-to-section"><a href="/movie" class="active"><h4>电影</h4></a></li>
              <li class="scroll-to-section"><a href="/score"><h5>评分</h5></a></li>
              <li class="scroll-to-section"><a href="/word"><h5>词云</h5></a></li>
              <li class="scroll-to-section"><a href="/team"><h5>团队</h5></a></li>
<!--{#              <li class="scroll-to-section"><a href="#contact">Message Us</a></li> #}-->
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact"></a></div></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h1 style="text-align: center">豆瓣电影TOP<span style="color: #0dcaf0">数据分析</span> </h1>
            <p style="text-align: center ;color: forestgreen">应用python爬虫 &amp; Flask框架&Echarts插件</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="counts section-bg" >
  <div class="container table-responsive">
    <table class="table text-nowrap ">
      <tr class="text-center ">
        <td>电影名称</td>
        <td>导演</td>
        <td>电影评分</td>
        <td>评价人数</td>
        <td>电影简介</td>
        <td>电影名言</td>

      </tr>
      {% for movie in movies %}
        <tr class="text-center">
          <td>
            <a href="{{movie[8]}}">
              {{movie[1]}}
            </a>

          </td>
          <td>{{movie[2]}}</td>
          <td>{{movie[4]}}</td>
          <td>{{movie[5]}}</td>
          <td>{{movie[7]}}</td>
          <td>{{movie[6]}}</td>

        </tr>
      {% endfor %}
    </table>

  </div>
</section>



  <footer>
    <div class="container">

    </div>
  </footer>
  <!-- Scripts -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/animation.js"></script>
  <script src="../static/js/imagesloaded.js"></script>
  <script src="../static/js/templatemo-custom.js"></script>

</body>
</html>